@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.form
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  background: #424874;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a
{
  text-decoration: none;
}
.text-center
{
  text-align: center;
}
input[type="checkbox"]
{
  display: none;
}
h4
{
  font-weight: 600;
  color: #eaeaea;
}
h6
{
  margin-bottom: 30px;
  color: #eaeaea;
}
h6 span
{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label
{
  position: relative;
  display: block;
  width: 60px;
  height: 16px;
  background: #000e7b;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;
}
.checkbox:checked + label::before,
.checkbox:not(:checked) + label::before
{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #000e7b;
  background-color: #eaeaea;
  top: -10px;
  left: -10px;
  font-family: 'Material Icons';
  content: '\f1e2';
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label::before
{
  transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap
{
  position: relative;
  width: 400px;
  max-width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front, .card-back
{
  width: 100%;
  height: 100%;
  background-color: #3b437f;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card-back
{
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper
{
  transform: rotateY(180deg);
}
.center-wrap
{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.heading
{
  margin-bottom: 30px;
  font-size: 24px;
}
.form-group
{
  position: relative;
  display: block;
  margin-bottom: 12px;
}
.form-style
{
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  background: #242323;
  color: #c4c3ca;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  transition: all 200ms linear;
}
.form-style:focus, 
.form-style:active
{
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon
{
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  color: white;
  text-align: left;
}
.form-group input::placeholder
{
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}
.form-group input:focus::placeholder
{
  opacity: 0;
}
.btn 
{
  height: 44px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #000e7b;
  color: #eaeaea;
  margin-top: 15px;
  transition: all 200ms linear;
}
.btn:hover
{
  background: #eaeaea;
  color: #000e7b;
  box-shadow: 0 8px 24px 0 rgba(138,140,146,0.2);
}
.link
{
  color: #c4c3ca;
  margin-top: 20px;
  display: block;
}
.link:hover
{
  color: #000e7b;
}